/* prevent overlapping */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 0 auto;
    background-color: white;
}

.cell {
    border: 1px solid wheat;
}

#Slider-Container {
    margin: 20px auto 0 auto;
}

.Slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    background: rgba(200, 255, 230, 0, 0.7);
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#Slider-Value {
    margin: 0 auto;
    text-align: center;
}

.Slider:hover {
    opacity: 1;
}

.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: brown;
    cursor: pointer;
}
